@font-face {
    font-family: 'dejavu_sansbook';
    src: url('../fonts/dejavusans.eot');
    src: url('../fonts/dejavusans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusans.woff') format('woff'),
         url('../fonts/dejavusans.ttf') format('truetype'),
         url('../fonts/dejavusans.svg#dejavu_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

footer {
	position: relative;
	top: -20px;
	font-size: 80%;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

footer section, footer nav, #social {
	display: inline;	
}

.footer_no_home{
	background: url('../img/pattern.jpg') repeat scroll 0 0 transparent;
	width: 1024px;
	height: 23px;
	margin: 0 auto;
	font-size: 80%;
	padding-top: 20px;
	top: inherit;
}

.footer_no_home #copyright-info {
	margin-left: 53px;
	font-size: 80%;
}

#copyright-info div {
	display: inline;
}

#footer-navigation {
	margin-left:30px;
}

#footer-navigation ul, #footer-navigation li, #footer-navigation a {
	display: inline;
	list-style: none;
	color: #fff;
	cursor: pointer;
}

#footer-navigation li::after {
	content: '\a0\a0|\a0';
}

#footer-navigation li.last:after {
	content: '';
}

#social{
	position: absolute;
	bottom: 5px;
	right: 20px;
}

#social div{
	margin-left: 5px;
	float: left;
}

#social div img{
	width: 20px;
}



