/*  popup login */



.popup_login {
	position: absolute;
	width: 25em;
	height: 25em;
	left: 50%;
	top: 50%;
	margin-left: -15em;
	margin-top: -12em;
}
.popup_login h2 {
	font-family: 'caecilia_lt_std75_bold';
	font-size: 25px;
	margin: 0 auto 10px;
	font-weight: bold;
	color: #272b34;
}


.login_form div{
    margin: 0 10px 10px;
    width: 250px;
}

.login_form label {
	margin: 0 0 2px;
	display: block;
	font-weight: bold;
 }

 .login_form input[type="email"], .login_form input[type="password"]  {
	padding-left: 35px;
    width: 205px;
    font-size: 110%;	
 }

 
.login_email input {
	background: url('../img/user.png') no-repeat 5px -5px white;
}

.login_password input {
	background: url('../img/password.png') no-repeat 5px -5px white;
}

.login_error {
	top: 5px;
	color: #FF0000;
	font-size: 12px;
}

.login_submit {
    position: relative;
	background: url('../img/accedi_agenti.png') no-repeat left top transparent;
	width: 140px;
	height: 31px;
	margin: 10px 10px;
}

.login_form label.login_remember {
	display: inline-block;
	vertical-align: top;
	margin: 18px 0 0;
}

.login_forgotten_pw {
}
 /* end popup login */