/*   DA ORGANIZZARE  */

.imgReplace { 
	display:block; 
	width:0; 
	height:0; 
	line-height:0; 
	overflow:hidden; 
	clip:rect(0,0,0,0); 
}


/* end DA ORGANIZZARE */



/* comuni a tutti gli step di registrazione */

.sequenza_registrazione_insegnanti {
	margin-left: -475px;
	margin-top: -250px;
	background: #FFF;
	height: 500px;
	position: absolute;
	top: 50%;
	width: 950px;
	left: 50%;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 1;
	color: #595353;
    text-align: left;
}

.sequenza_registrazione_insegnanti h2{
	font-family: 'caecilia_lt_std75_bold';
	font-size: 25px;
	margin: 30px auto;
	height: 30px;
	font-weight: bold;
	text-align: center;
}


.btn_chiudi_registrazione {
	/* identico alla classe .insert_code_close */
	background: url('../img/btn_close.png') no-repeat left top transparent;
	width: 21px;
	height: 20px;
	position: absolute;
	right: -10px;
	top: -10px;
	cursor: pointer;
}


.img_registrazione_insegnanti {
	background: url("../img/cappello_insegnante.png") no-repeat scroll 0 0 transparent;
	width: 128px;
	height: 142px;
	position: absolute;
	top: 80px;
	left: 0;
}


.form_registrazione {
	width: 650px;
	margin: 0 auto;
}

.registrazone_error{
	color: #FF0000;
	font-size: 11px;
}



.form_registrazione div{
	width: 100%;
	min-height: 30px;
	margin: 0 5px 10px 0;
	clear: both;
}

.form_registrazione label{
	float: left;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 8px;
    text-align: right;
    width: 125px;
	margin-top: 0;
	left: 20px;
}

.form_registrazione span {
	float: left;
	width: 110px;
	padding-top: 8px;
	text-align: left;
}

.problema_registrazione{
	font-size: 10px;
	position: absolute;
	right: 130px;
	bottom: 6px;
	color: #272b34;
}

.problema_registrazione a{
	text-decoration: underline;
	color: #272b34;
}


.registrazione_progress {
	width: 52px;
	position: absolute;
	right: 60px;
	bottom: 15px;
	height: 10px;
}

.registrazione_progress span{
	display: inline-table;
	width: 7px;
	background: url('../img/pallini.png') no-repeat left top transparent;
	margin-right: 5px;
	height: 8px;
}

.registrazione_progress span.active{
	background: url('../img/pallini.png') no-repeat left bottom transparent;
}





	/* regole sugli input delle form */

	.form_registrazione input[type="text"],
	.form_registrazione input[type="email"],
	.form_registrazione input[type="password"]
	{
	   border: 1px solid #bcbdb8;
	   margin-top: 2px;	
	   margin-right: 8px;	
	   float: left;
	   padding: 5px;
	   font-size: 15px;
	   line-height: 16px;
	   background: #fff;
	   -webkit-border-radius: 0.4em;
	   -moz-border-radius: 0.4em;
		border-radius: 0.4em;
	    font-family: 'dejavu_sansbook';
		font-size: 12px;
	}
	 
	.form_registrazione input[type="checkbox"]{
		-webkit-border-radius: 0;
	   -moz-border-radius: 0;
		border-radius: 0;
		padding: 0;
		border: 0;
	 }


	.form_registrazione input[placeholder] {
		text-indent: 0px;
	}

	.form_registrazione input.error {
	   border: 1px solid #ff0000;
   	   background: #ffcccc;

	}

	.form_registrazione .errorMessage {
		position: absolute;
		width: 180px;
/*		left: 750px;
		top: 100px;
*/		color: #f00;
	}

	/* end regole sugli input dei form */

/* end parte comune a tutta la registrazione */


/* Registrazione 1 */ 

	/* Sezione registrazione via social networks - aggiungere Twitter */
	.accesso_social {
		font-family: 'caecilia_lt_std75_bold';
		font-size: 15px;
		text-align: center;	
	}

	.accesso_social a#lfacebook, .accesso_social a#lgoogle {
		padding-right: 5px;
		padding-top: 7px;
	}

	#lfacebook{
	    top: -12px;
		position: relative;
		display: inline-block;
		background: url('../img/lfacebook.png') no-repeat center top transparent;
		width: 31px;
		height: 25px;
	}

	#lgoogle{
	    display: inline-block;
		position: relative;
		top: -11px;
		background: url('../img/lgoogle.png') no-repeat center top transparent;
		width: 31px;
		height: 26px;
	}
	/* fine registrazione via social networks */


.registrazione_1 input[type="email"],
.registrazione_1 input[type="password"] {
	width: 412px;
}



.form_registrazione input#reg_teacher_name {
	width: 120px;
}

.form_registrazione input#reg_teacher_surname {
	width: 195px;
}

.form_registrazione label.surname_label {
    width: 68px;
}

.registrazione_terms_and_privacy input[type="checkbox"] {
	margin-left: 139px;
	margin-top: 9px;
	width: 10px;
	float: left;
	background-color: #f00;

}

.registrazione_terms_and_privacy label {
	font-size: 10px;
    left: -20px;
    line-height: 15px;
    position: relative;
    text-indent: 20px;
    width: 406px;
	text-align: justify;
	font-weight: normal;
}

.registrazione_terms_and_privacy label a{
	color: #ec0143;
}

.reg_teacher_submit{
	background: url('../img/voglio_iniziare.png') no-repeat left top transparent;
	width: 302px;
	height: 44px;
	margin: 10px auto 10px 195px;
	cursor: pointer;
}

.reg_teacher_submit:hover{
	background: url('../img/voglio_iniziare_roll.png') no-repeat left top transparent;
	cursor: pointer;
}


.registrazione_error{
	position: absolute;
	left: 735px;
	top: 100px;
	width: 180px;
	color: #ff0000;
	display: none;
}





/*   Registrazione 2  */


  .ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }





/*.registrazione_2 .content_form_reg{
	width: 670px;
	font-family: 'dejavu_sansbook';
	font-weight: 300;
	font-size: 13px;
}
*/
.column{
	margin-right: 10px;
	float: left;
}

.column label{
	text-align: left;
	width: 110px;
	padding-top: 5px;
	display: block;
}

.registrazione_2 .form_registrazione select {
   border: 1px solid #bcbdb8;	
   margin-top: 2px;	
   margin-right: 8px;	
   padding: 5px;
   font-size: 15px;
   line-height: 16px;
   background: #fff;
   -webkit-border-radius: 0.4em;
   -moz-border-radius: 0.4em;
	border-radius: 0.4em;
	font-size: 12px;
	font-family: 'caecilia_lt_std75_bold';
	font-style: italic;
	color: #777;
 }
 
#citta{
	width: 140px;
 }
 
#scuola{
	width: 275px;
}

#classe{
	width: 210px;
}

#registrazione_2 .column.last{
	margin: 0;
	padding: 0;
	width: 210px;
	position: relative;
}

.text_left{
	font-size: 10px;
	color: black;
	float:left;
}

.text_left a{
	color: #ec0143;
}

.text_left{
	font-size: 10px;
	color: black;
	float:left;
}

.registrazione .go_ahead {
	background: url('../img/testo_avanti.png') no-repeat left top transparent;
	width: 124px;
	height: 35px;
	float: right;
	margin-right: 0;
	margin-bottom: 50px;
}

#registrazione_2 .go_ahead:hover {
	background: url('../img/testo_avanti.png') no-repeat left -36px transparent;
}

#aggiungi{
	float: right;
	color: #ec0143;
	margin-top: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.line{
	border-bottom: 1px solid #b1b1b1;
	margin-top: 40px;
	margin-bottom: 20px;
}

.reset{
	background: url('../img/delete.png') no-repeat 0 0 transparent;
	width: 15px;
	height: 14px;
	position: absolute;
	right: -25px;
	top: 50px;
}

/*   Registrazione 2  */

#registrazione_3 {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: left;
}

#registrazione_3 h3{
	text-align: center;
}

#registrazione_3  .content_form_reg{
	width: 660px;
}

#registrazione_3 #tabs{	
	border: 2px solid #a3a2a3;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#registrazione_3 #tabs ul{
	height: 25px;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 2px solid #a3a2a3;
	background-color: #f1f1f2;
}

#registrazione_3 #tabs ul li {
	line-height: 13px;
	padding-top: 6px;
	padding-bottom: 3px;
	display: block;
	float: left;
	border: none;
}

#registrazione_3 #tabs ul li:hover, #registrazione_3 #tabs ul li:active {
	background-image: linear-gradient(top, #E3043F 34%, #EC0144 67%);
	background-image: -o-linear-gradient(top, #E3043F 34%, #EC0144 67%);
	background-image: -moz-linear-gradient(top, #E3043F 34%, #EC0144 67%);
	background-image: -webkit-linear-gradient(top, #E3043F 34%, #EC0144 67%);
	background-image: -ms-linear-gradient(top, #E3043F 34%, #EC0144 67%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.34, #E3043F),
		color-stop(0.67, #EC0144)
	);
}

#registrazione_3 #tabs ul li a{
	display: block;
	float: left;
	color: #272b34;
	text-decoration: none;
	padding: 0 15px;
	border-right: 1px solid #a3a2a3;
	font-size: 14px;
}

#registrazione_3 #tabs > div{
	position: relative;
}

#registrazione_3 #tabs .fields{
	display: inline-block;
	position: relative;
	margin: 15px;
	
}

#registrazione_3 input[type="checkbox"]{
	float: left;
    margin: 1px 0 0 0;
    padding: 0;
    width: 10px;
	cursor: pointer;
}

#registrazione_3  label {
    float: left;
    margin-top: 0;
    padding-left: 10px;
}

#registrazione_3 #subject_selected span{
	float: none;
}


/*  Registrazione 4 */


#registrazione_4 .content_form_reg{
	width: 550px;
	text-align: left;
	font-size: 12px;
}

#registrazione_4 .content_form_reg h3{
	margin-bottom: 0px; 
}

#registrazione_4 .subtitle{
	margin-bottom: 0px; 
	padding-left: 2px;
}

#registrazione_4 .teacher_data{
	width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	float: left;
	color: #000;
}

#registrazione_4 .teacher_data_header{
	width: 96%;
	margin: 10px;
	float: left;
	border-bottom: 1px solid #e8e8e8;
}

#registrazione_4 .teacher_data p span{
	font-weight: bold;
	padding-right: 5px;
}

.icon_teacher{
	float: left;
}

.icon_teacher img{
	border: 1px solid #c0bfbf;
}

.main_data{
	float: left;
	margin-left: 15px;
}

.main_data p span{
	font-weight: bold;
	padding-right: 5px;
}

.teacher_data_content{
	width: 100%;
	margin-bottom: 15px;
}

.teacher_data_content p{
	margin: 10px;
}

#registrazione_4 .go_ahead {
	background: url('../img/confirm_teach.png') no-repeat -1px -1px transparent;
	width: 125px;
	height: 35px;
	position: relative;
	bottom: -20px;
}

#complete_registration{
	float: right;
	padding: 3px;
	background-color: #feedf2;
	position: relative;
	bottom: -20px;
	color: #ec0143;
	width: 290px;
}

/*  Registrazione 5*/

#registrazione_5 {
	height: 380px;
	margin-top: -190px;
}

#registrazione_5 .content_form_reg {
	width: 660px;
}

#registrazione_5 .content_form_reg {
	margin-bottom: 70px;
}

#registrazione_5 .content_form_reg div{
	font-family: 'caecilia_lt_std75_bold';
	font-size: 12px;
}

#registrazione_5 .category_accounts{
	margin-top: 30px;
	margin-right: 30px;
	float: left;
	width: 182px;
	height: 43px;
	border: 1px solid #c0bfbf;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
}

#registrazione_5 #first_category{
	background: url('../img/zanichelli.jpg') no-repeat 0 0 transparent;
	margin-left: 130px;
}

#registrazione_5 #second_category{
	background: url('../img/scuola_com.jpg') no-repeat 0 0 transparent;
}

